<div>
    <h1 class="title-component">About me</h1>
</div>
<div class="contentflex">
    <div class="item-foto">
        <img src="assets/img/foto.png" width="70%"/>
    </div>
    <div class="item-text">
        <p>I am from Colombia, Developer since 2005 with extensive experience in .Net with SQLServer, knowledge of .Net Core, NodeJS, Javascript, Angular 9+, Ionic 5, Webpack, Git, CSS, MySql, Postgres, Mongo, and SAP B1 SDK.</p>
        <p> I have worked in software factories assuming different roles (requirements, analysis, design, development, and management), I have led projects for companies in different areas (insurance, energy, services, and sales). Focused since 2020 on front-end development with Angular technology. </p>
        <div class="bandera">
            <img src="assets/img/Bandera.png" />
        </div>
    </div>
</div>


