<div style="padding-top: 1rem;">

    <h1 style="color:#862319; font-size: 50px;">About me</h1>
</div>
<div class="contentflex">
    <div class="item-foto">
        <img src="../../../assets/img/foto.png" width="80%"/>
    </div>
    <div class="item-text">
        <p>I am from Colombia, married, I like dogs, motorcycles now I have an English bulldog called Hulk, I like music, video games, and shonen anime.</p>
        <p>I like everything related to technology since I can remember, I like to help others and learn new things.</p>
        <div class="bandera">
            <img src="../../../assets/img/Bandera.png" />
        </div>
    </div>
</div>


