<div class="content">
    <div class="item">
      <app-navbar></app-navbar> 
    </div>
    <section [attr.id]="'home'" class="item">
      <app-home></app-home>
    </section>
    <section [attr.id]="'skills'">
      <app-skills></app-skills>
    </section>
    <section [attr.id]="'projects'" class="item">
      <app-projects></app-projects>
    </section>
    <section [attr.id]="'about'">
      <app-about></app-about>
    </section>
    <footer class="item">
      <app-footer></app-footer>
    </footer>
  </div>    
