<div class="item">
    <div class="fondo">
        <div class="cristal">
        </div>
    </div>
    <div class="container">
        <div class="centro">
            <div class="itemlogo">
                <img src="../../../assets/img/logojohn_v2.png" alt="" class="responsive-img">
            </div>
            <div class="itemtexto">
                <span class="rojo">John Jairo Quintero Pardo</span><br>
                <span>Developer .Net - .Net Core - NodeJS | Frontend JS | Project Manager |</span>
            </div>
        </div>
    </div>
</div>

