<div class="item">
    <div class="fondo">
        <div class="cristal">
        </div>
    </div>
    <div class="container">
        <div class="centro">
            <div class="itemlogo">
                <img src="assets/img/logojohn_v2.png" alt="" class="responsive-img">
            </div>
            <div class="itemtexto">
                <span class="rojo">John Jairo Quintero Pardo</span>
                <ul>
                  <li>Developer .Net - .Net Core</li>
                  <li>NodeJS</li>
                  <li>Frontend Angular</li>
                  <li>Project Manager</li>
                  <li>It Business Partner</li>
                </ul>
            </div>
        </div>
    </div>
</div>

