
    <div>
        <div class="logo">
            <img
            width="50"
            alt="Angular Logo"
            src="assets/img/logojohn_v2.png"
            />
        </div>
    </div>    
    <div class="nav" id="menu">
        <div class="icon">
            <a href="javascript:void(0);"><i class="fas fa-code"></i></a>
        </div>
        <div>
            <a [routerLink]="'.'" [fragment]="'home'">home</a>
        </div>
        <div>
            <a [routerLink]="'.'" [fragment]="'skills'">skills</a>
        </div>
        <div>
            <a [routerLink]="'.'" [fragment]="'projects'">projects</a>
        </div>
        <div>
            <a [routerLink]="'.'" [fragment]="'about'">about</a>
        </div>
    </div>
 

