<div class="colorText">
    <div class="textfooter" >
        John Quintero   ©  2020
    </div>    
    <div>
        <a href="https://twitter.com/JohnJairoQuip" target="_blank">
            <i class="fab fa-twitter-square"></i>
        </a>
    </div>
    <div>
        <a href="http://www.linkedin.com/in/john-jairo-quintero-pardo" target="_blank"> 
            <i class="fab fa-linkedin"></i>
        </a>
    </div>
    <div>
        <a href="http://github.com/johnquintero" target="_blank">
            <i class="fab fa-github-square"></i>
        </a>
    </div>
</div>

